<%- include("partials/header") -%>

<h1>Contact</h1>
</br>
<p> <%= contactpageContent %> </p>

<section class="contact-page-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex flex-column address-wrap" data-aos="fade-up">
                <div class="single-contact-address d-flex flex-row">
                        <span class="lnr lnr-home icon"></span>
                        <h4>Address: Goltek, Cantonment, Dhaka</h4>
                </div>
                <div class="single-contact-address d-flex flex-row">
                        <span class="lnr lnr-phone-handset icon"></span>
                        <h4>Home: 01611xxxxxx, 01521xxxxxx</h4>
                </div>
                <div class="single-contact-address d-flex flex-row">
                    <span class="lnr lnr-envelope icon"></span>
                    <h4><a href = "mailto: sumonshinoda@hotmail.com">sumonshinoda@hotmail.com</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") -%>
